/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $lightWeight;
    min-width: 320px;
}
/* MAIN  */
header {
    h1,h2 {
        padding-left: 1.5rem;
    }
    h2 {
        color: white;
    }
}
main {
    h2 {
        font-size: 1.5rem;
        margin-left: 2%;
    }
    p {
        padding: 1rem 1%;
    }
    .swiper-wrapper {
        margin-bottom: 25px;
    }
    .swiper {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: auto;
        }
        p {
            margin: 0;
            padding: .4rem 2vw;
            position: absolute;
            transform: translateY(-100%);
            background-color: rgba(0,0,0,0.5);
            text-align: center;
            color: white;
            width: 100%;
        }
    }
    div.cards {
        display: flex;
        flex-wrap: wrap;
    }
    div.cards div {
        flex-basis: 100%;
        text-align: center;
    }
    div.cards div:nth-child(1) {
        background-image: url("../images/card01.jpg");
    }
    div.cards div:nth-child(2) {
        background-image: url("../images/card02.jpg");
    }
    div.cards div:nth-child(3) {
        background-image: url("../images/card03.jpg");
    }
    div.cards div:nth-child(4) {
        background-image: url("../images/card04.jpg");
    }
    div.cards div a {
        display: block;
        width: 100%;
        height: 300px;
        text-decoration: none;
        padding: 0 1%;
        transition: all .5s ease-in;
        color: white;
    }
    div.cards div:nth-child(1) a {
        background-color: red;
    }
    div.cards div:nth-child(2) a {
        background-color: blue;
    }
    div.cards div:nth-child(3) a {
        background-color: green;
    }
    div.cards div:nth-child(4) a {
        background-color: purple;
    }
    div.cards div a:hover {
        background: none;
        text-shadow: 0 0 4px black;
    }
    div.cards a h3 {
        font-size: 1.2rem;
        padding: 1rem 0;
        color: white;
    }
    div.cards a img {
        padding: 4rem 0 0 0;
    }
}

/* HEADER  */
header {
    background-image: url("../images/header.jpg");
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
	h1 {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
    h2 {
        margin-top: .5%;
    }
} // end header

/* NAVIGATION STUFF GOES HERE  */




















/* MAIN  */
 // end main



/* FOOTER  */
#footerWrapper {background-color: #1b1b1b; }
footer {
    font-size: .85rem;
	padding: 1rem 0;
	color: #bbb;
	text-align: center;
	a{color: #eee;}
}
